#div1{
  background-color: green;
  width:500px;
  height:500px;
}
#div2{
  background-color: purple;
  width:;
  height:;
}
#div3{
  background-color: blue;
  width:;
  height:;
}
#dog{
  width: 420px;
  height: 420px;
  margin: 10px;
  padding: 20px;
  border: 10px solid blue;
}
#dogg{
  width: 400px;
  height: 400px;
  margin: 20px;
  padding: 40px;
  border: 20px solid red;
